<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>EJS</h1>
            <p>Chama-se Embedded JavaScript templating (EJS) e é uma linguagem de modelagem simples que permite gerar marcação HTML com JavaScript simples. Como principais características, destaque para: Uso de JavaScript. Simples para desenvolver aplicações/serviços.
            </p>
        </div>

    </main>

    <%- include('../partials/footer'); %>


</body>

</html>